<div class="empleado">
    <p class="empleado__nombre">Nombre del empleado: {{getNombre()}}</p>
    <p class="empleado__edad">Edad del empleado {{getEdad()}}</p>
    <p class="empleado__empresa">Empresa del empleado: {{empresa.value}}</p>
</div>

Introduce la empresa <input type="text" [disabled] = "habilitacionCuadro" #empresa (keyup)="0">


<!-- <input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)"/> -->

Registrado: <input type="checkbox" id="registro" [checked] = "userRegistrado">

{{getRegistroUsuario()}}
