.empleado{
    width: 100%;
    font-size: 1.65em;
    background-color: aqua;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0 0 2rem 0;

    &__nombre{
        color: red;
    }

    &__edad{
        color: blueviolet;
    }

    &__empresa{
        color: tomato;
    }
}