.calculadora{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__titulo{
        background-color: red;
        font-size: 3em;
        color: brown;
        margin: 0 0 1rem 0;
    }

    &__inputs{
        align-self: flex-start;
        margin: 0 0 1rem 0;
    }

    &__btn{

        flex-direction: row;

        &--sumar{
            color: rebeccapurple;
        }
    }

    &__resultado{
        font-size: 2em;
        align-self: flex-start;
    }
}